<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Shibbir Ahmed - WordPress and PHP Web Application Developer</title>
    <meta name="description" content="WordPress and PHP web application developer providing high quality website with top class user experience" />
    <meta name="keywords" content="wordpress developer, php developer, website development, website design, bangladeshi web developer, shibbir ahmed" />
    <meta name="author" content="Shibbir Ahmed">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

    <!-- Favicone Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    <link rel="icon" type="image/png" href="assets/img/favicon.png">
    <link rel="apple-touch-icon" href="assets/img/favicon.png">

    <!-- CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/style.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/ionicons.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/plugin/animate.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/jquery-ui.css" rel="stylesheet" type="text/css" />

</head>

<body>

    <!-- Preloader -->
    <section id="preloader">
        <div class="loader" id="loader">
            <div class="loader-img"></div>
        </div>
    </section>
    <!-- End Preloader -->    

    <!-- Site Wraper -->
    <div class="wrapper">

        <!-- Header ("header--dark", "header-transparent", "header--sticky")-->
        <header id="header" class="header header-transparent header--sticky">
            <!-- Nav Bar -->
            <nav id="navigation" class="header-nav">
                <div class="container">
                    <div class="row d-flex flex-md-row align-items-center">
                        <div class="logo mr-auto">
                            <!--logo-->
                            <a href="index.html">
                                <span class="logo-light">< shibbir.dev <span class="blinking-dark">/</span>></span>                                
                                <span class="logo-dark">< shibbir.dev <span class="blinking-light">/</span>></span>                                
                            </a>
                            <!--End logo-->
                        </div>

                        <div class="nav-menu ml-auto">
                            <ul class="">
                                <li class="nav-menu-item">
                                    <a href="index.html">Home</a>
                                </li>
                                <li class="nav-menu-item">
                                    <a href="about.html">About</a>
                                </li>
                                <li class="nav-menu-item">
                                    <a href="workfolio.html">Workfolio</a>
                                </li>
                                <li class="nav-menu-item">
                                    <a href="blog.html">Blog</a>
                                </li>
                                <li class="nav-menu-item">
                                    <a href="contact.html">Contact</a>                                   
                                </li>
                            </ul>
                        </div>      
                        <div class="nav-icons">
                            <div class="nav-icon-item d-lg-none">
                                <span class="nav-icon-trigger menu-mobile-btn align-middle"><i class="ion"></i></span>
                            </div>
                        </div>                  
                    </div>
                </div>
            </nav>
            <!-- End Nav Bar -->
        </header>
        <!-- End Header -->

        <!-- CONTENT --------------------------------------------------------------------------------->
        <!-- Intro Section -->
        <section class="inner-intro dark-bg bg-image overlay-dark parallax parallax-background1" data-background-img="assets/img/about-me-bg.jpg">
            <div class="container">
                <div class="row title">
                    <h2 class="h2">About Me</h2>
                    <div class="page-breadcrumb">
                        <a>Home</a>/<span>About Me</span>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Intro Section -->
        <!-- End Intro -->
        <div class="clearfix"></div>

        <!--About Section-->
        <section id="about" class="wow fadeIn ptb ptb-sm-80">
            <div class="container">               
                <div class="row mt-40">
                    <!-- Welcome Content -->
                    <div class="col-md-4 offset-md-4 mb-5">
                        <h4 class="text-center">Whol Am I.</h4>                        
                        <div class="spacer-15"></div>
                        <img src="assets/img/profile.jpg" class="rounded-circle">
                    </div>

                    <div class="col-md-7 mb-30">
                        
                        <p>Hello, I’m Shibbir Ahmed, a WordPress & PHP developer located in Dhaka, Bangladesh. I am a full-time WordPress and PHP Web Application Developer and part-time Teacher.</p>
                        
                        <p>My core experience is based on ” WordPress and PHP”. I love to develop WordPress theme, plugin and anything with PHP. I believe in hard work, dedication, on-time delivery, and quality service and in this way, I can build a good long term relationship with my clients.</p>

                        <p>If you hire me, you can depend on me being available ongoing, as needed, for years to come. I have been working since 2008 as a web developer and also started a part-time teaching profession since 2012 as a web development trainer at ibcs-primax software (Bangladesh) Ltd.</p>

                        <p><b>Currently, I am looking for a Job!</b></p>                       
                       
                        <div class="spacer-15"></div>  

                
                        <h4>Profiles</h4>
                        <div class="spacer-15"></div>  
                        <a href="" class="mr-3" title="WordPress"><i class="fa fa-wordpress fa-3x" aria-hidden="true"></i></a>
                        <a href="" class="mr-3" title="Github"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
                        <a href="" class="mr-3" title="Linkedin"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a>
                        <a href="" title="Personal Blog"><i class="fa fa-pencil-square-o fa-3x" aria-hidden="true"></i></a>                               
                        
                        
                    </div>
                    <!-- End Welcome Content -->

                    <!-- Skills -->
                    <div class="col-md-5">

                        <div class="skillbar" data-percent="90%">
                            <div class="skillbar-title">WoprdPress Theme & Plugin Development</div>
                            <div class="skill-bar-percent">90%</div>
                            <div class="skillbar-bar"></div>
                        </div>

                        <div class="skillbar" data-percent="90%">
                            <div class="skillbar-title">PHP</div>
                            <div class="skill-bar-percent">90%</div>
                            <div class="skillbar-bar"></div>
                        </div>

                        <div class="skillbar" data-percent="95%">
                            <div class="skillbar-title">HTML5 & CSS3</div>
                            <div class="skill-bar-percent">95%</div>
                            <div class="skillbar-bar"></div>
                        </div>

                        <div class="skillbar" data-percent="80%">
                            <div class="skillbar-title">JavaScript & jQuery</div>
                            <div class="skill-bar-percent">80%</div>
                            <div class="skillbar-bar"></div>
                        </div>

                         <div class="skillbar" data-percent="75%">
                            <div class="skillbar-title">Laravel</div>
                            <div class="skill-bar-percent">75%</div>
                            <div class="skillbar-bar"></div>
                        </div>
                    </div>
                    <!-- End Skills -->
                </div>
            </div>
        </section>
        <!-- End About Section-->
        <hr />       

        <!-- Counter Section -->
        <section id="counter" class="overlay-dark80 light-color ptb-80" style="background-image: url('assets/img/counter.jpg');" data-stellar-background-ratio="0.5">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-3 mb-sm-30">
                        <h1 class="counter" data-count="175">0</h1>
                        <h6>Job Completed</h6>
                    </div>
                    <div class="col-md-3 mb-sm-30">
                        <h1 class="counter" data-count="97">0</h1>
                        <h6>On Time %</h6>
                    </div>
                    <div class="col-md-3 mb-sm-30">
                        <h1 class="counter" data-count="175">0</h1>
                        <h6>Projects</h6>
                    </div>
                    <div class="col-md-3 mb-sm-30">
                        <h1 class="counter" data-count="9">0</h1>
                        <h6>Experience (Years)</h6>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Counter Section -->

         <hr />

        <!-- Service Section -->
        <section id="service" class="ptb ptb-sm-80">
            <div class="wow fadeInLeft container text-center">
                <h3>What I Offer</h3>
                <div class="spacer-60"></div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 mb-45">
                        <div class="page-icon-top"><i class="ion ion-ios-compose-outline"></i></div>
                        <h5>WordPress Theme Development</h5>
                        <p>Implement your dreams into reality with user friendly WordPress theme development services to fullfil the requirmetns your customers in a financially savvy way.</p>
                    </div>
                    <div class="col-md-4 col-sm-6 mb-45">
                        <div class="page-icon-top"><i class="ion ion-ios-gear-outline"></i></div>
                        <h5>WordPress Plugin Development</h5>
                        <p>Transform your idea into reality, that is what my vision. Tell me the story of your plugin structure and I will bring it to live by following WordPRess standard.</p>
                    </div>
                    <div class="col-md-4 col-sm-6 mb-45">
                        <div class="page-icon-top"><i class="ion ion-social-apple-outline"></i></div>
                        <h5>Anything With PHP</h5>
                        <p>Do you want to build custom software or website or fix some php scripts? Well, you are in right place. Fell free to contact me and I will quote you according to your requirmetns</p>
                    </div>                   
                </div>
            </div>
        </section>
        <!-- End Service Section -->

         <hr />     


        <!-- Process -->
        <section id="process" class="ptb ptb-sm-80">
            <div class="wow fadeInLeft container text-center">
                <h3>How I Work</h3>
                <div class="spacer-60"></div>
                <div class="row">
                    <div class="col-md-2 col-sm-4 col-6">
                        <div class="tipped" data-title="Step1 - Skype Interview" data-tipper-options='{"direction":"top"}'>
                            <div class="page-icon-top"><i class="ion ion-ios-people-outline"></i></div>
                            <h6>Interview</h6>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-6">
                        <div class="tipped" data-title="Step2 - Project Plan" data-tipper-options='{"direction":"top"}'>
                            <div class="page-icon-top"><i class="ion ion-ios-paper-outline"></i></div>
                            <h6>Plan</h6>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-6">
                        <div class="tipped" data-title="Step3 - Design" data-tipper-options='{"direction":"top"}'>
                            <div class="page-icon-top"><i class="ion ion-ios-compose-outline"></i></div>
                            <h6>Design</h6>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-6">
                        <div class="tipped" data-title="Step4 - Development" data-tipper-options='{"direction":"top"}'>
                            <div class="page-icon-top"><i class="ion ion-ios-gear-outline"></i></div>
                            <h6>Development</h6>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-6">
                        <div class="tipped" data-title="Step5 - Testing" data-tipper-options='{"direction":"top"}'>
                            <div class="page-icon-top"><i class="ion ion-ios-pulse"></i></div>
                            <h6>Testing</h6>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-6">
                        <div class="tipped" data-title="Step6 - Delivery" data-tipper-options='{"direction":"top"}'>
                            <div class="page-icon-top"><i class="ion ion-ios-clock-outline"></i></div>
                            <h6>Delivery</h6>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Process -->

        <hr />       

        <!-- Testimonials -->
        <section id="testimonial" class="overlay-dark80 dark-bg ptb ptb-sm-80" style="background-image: url('assets/img/full/testimonials.jpg');" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="owl-carousel testimonial-carousel nf-carousel-theme white">
                    <div class="item">
                        <div class="testimonial text-center dark-color">
                            <div class="container-icon"><i class="fa fa-quote-right"></i></div>
                            <p class="lead">"Mohammad did a great job which was beyond my initial request. This job was to look into some complicated php code and explain to me how one particular part worked. He created a document that explained everything that needed. I don't know about his other skills but I would recommend him to anyone needing help with php. ”</p>
                            <h6 class="quote-author">Richard S <span style="font-weight: 400;">( Japan )</span></h6>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial text-center dark-color">
                            <div class="container-icon"><i class="fa fa-quote-right"></i></div>
                            <p class="lead">" "Very good freelancer, I am happy with his work as he have completed the project on time. He is very good with his coding stuff and he is brilliant. I would hire him again if I need any work. Very highly recommended. "</p>
                            <h6 class="quote-author">Chris O <span style="font-weight: 400;">( United kingdom )</span></h6>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial text-center dark-color">
                            <div class="container-icon"><i class="fa fa-quote-right"></i></div>
                            <p class="lead">" "I have been working with Mohammad A. many times and he have never failed me. He is very professional and pay attention to details. Very good front-end developer!" "</p>
                            <h6 class="quote-author">Katie H <span style="font-weight: 400;">( United States )</span></h6>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Testimonials -->     

        <hr />    

        <section id="contact-info" class="ptb ptb-sm-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="contact-box-left">
                            <div class="contact-icon-left"><i class="ion ion-ios-location"></i></div>
                            <h6>Address</h6>
                            <p>
                                Dhanmondi 15 No, Dhaka-1209, Bangladesh.
                            </p>

                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="contact-box-left">
                            <div class="contact-icon-left"><i class="ion ion-ios-telephone"></i></div>
                            <h6>Call Me</h6>
                            <p>
                                <span>+88 01671133639</span><br>
                            </p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="contact-box-left">
                            <div class="contact-icon-left"><i class="ion ion-ios-email"></i></div>
                            <h6>Email</h6>
                            <p>
                                <a href="mailto:support@shibbir.dev">support@shibbir.dev</a>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </section>


       

        <!-- END CONTENT ---------------------------------------------------------------------------->

        <!-- FOOTER -->
        <footer class="footer">
            <!-- Copyright Bar -->
            <section class="copyright ptb-60">
                <div class="container">
                    <p class="">
                        © 2020 <a href="https://www.shibbir.dev"><b>Shibbir</b></a>. All Rights Reserved.
                        <br>
                       <a target="_blank" href="https://wordpress.org/"><b>Proudly Powered by WordPress</b></a>
                    </p>
                </div>
            </section>
            <!-- End Copyright Bar -->

        </footer>
        <!-- END FOOTER -->

        <!-- Scroll Top -->
        <a class="scroll-top">
            <i class="fa fa-angle-double-up"></i>
        </a>
        <!-- End Scroll Top -->

    </div>
    <!-- Site Wraper End -->


    <!-- JS -->
    <script src="assets/js/jquery-1.11.2.min.js" type="text/javascript"></script>
    <script src="assets/js/plugin/jquery.easing.js" type="text/javascript"></script>
    <script src="assets/js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="assets/js/plugin/jquery.flexslider.js" type="text/javascript"></script>
    <script src="assets/js/plugin/jquery.fitvids.js" type="text/javascript"></script>
    <script src="assets/js/plugin/jquery.viewportchecker.js" type="text/javascript"></script>
    <script src="assets/js/plugin/jquery.stellar.min.js" type="text/javascript"></script>
    <script src="assets/js/plugin/wow.min.js" type="text/javascript"></script>
    <script src="assets/js/plugin/jquery.colorbox-min.js" type="text/javascript"></script>
    <script src="assets/js/plugin/owl.carousel.min.js" type="text/javascript"></script>
    <script src="assets/js/plugin/isotope.pkgd.min.js" type="text/javascript"></script>
    <script src="assets/js/plugin/masonry.pkgd.min.js" type="text/javascript"></script>
    <script src="assets/js/plugin/imagesloaded.pkgd.min.js" type="text/javascript"></script>
    <script src="assets/js/plugin/jquery.fs.tipper.min.js" type="text/javascript"></script>
    <script src="assets/js/plugin/mediaelement-and-player.min.js"></script>
    <script src="assets/js/theme.js" type="text/javascript"></script>

</body>
</html>
